<h1> Deal me!</h1>


<%
suit1 = ["spades", "hearts", "diamonds", "clubs"].sample
cardno1 = ["ace", "2", "3", "4", "5", "6", "7", "8", "9", "10","jack", "queen", "king"].sample
suit2 = ["spades", "hearts", "diamonds", "clubs"].sample
cardno2 = ["ace", "2", "3", "4", "5", "6", "7", "8", "9", "10","jack", "queen", "king"].sample
suit3 = ["spades", "hearts", "diamonds", "clubs"].sample
cardno3 = ["ace", "2", "3", "4", "5", "6", "7", "8", "9", "10","jack", "queen", "king"].sample
suit4 = ["spades", "hearts", "diamonds", "clubs"].sample
cardno4 = ["ace", "2", "3", "4", "5", "6", "7", "8", "9", "10","jack", "queen", "king"].sample
suit5 = ["spades", "hearts", "diamonds", "clubs"].sample
cardno5 = ["ace", "2", "3", "4", "5", "6", "7", "8", "9", "10","jack", "queen", "king"].sample
%>


<img src=http://golearntocode.com/images/cards/<%=cardno1%>_of_<%=suit1%>.png>
<img src=http://golearntocode.com/images/cards/<%=cardno2%>_of_<%=suit2%>.png>
<img src=http://golearntocode.com/images/cards/<%=cardno3%>_of_<%=suit3%>.png>
<img src=http://golearntocode.com/images/cards/<%=cardno4%>_of_<%=suit4%>.png>
<img src=http://golearntocode.com/images/cards/<%=cardno5%>_of_<%=suit5%>.png>